$dark: #373e44;
$orange: #e7a800;
$light-grey: #e5e5e5;

html {
  font-size:14px;
}

body {
 background: $light-grey;
  font-family: 'Neutraface Text', sans-serif;
font-weight:600;
  color: $dark;
  overflow-x:hidden;
}

p {
  font-size: 1.2rem;
  line-height:1.9rem;
  font-weight:400;
}

main {
    position: relative;
    top: 153px;
    transition: .4s all; 
    @media(max-width:870px) {
      top: 123px;
    }
  &.raise {
    top: 110px;
    transition: .4s all;
  }
}

.row {
  @media(max-width:767px) {
 --bs-gutter-x: 0;
    }
  }

.spaced-col {
  @media(max-width:767px) {
margin-bottom:30px;
}
&:last-child {
  @media(max-width:767px) {
margin-bottom:0px;
}
}
}

section {
  padding:60px 0;
  position: relative;
  z-index: 4000;
  background: $light-grey;
  &.no-pad {
    padding:0;
  }
  &.contained {
   padding:60px 60px;
   @media(max-width:767px) {
    padding: 60px 30px;
    }
  }
  &.no-pad-top {
    padding-top:0;
  }
  &.no-pad-bot {
    padding-bottom:0;
  }
}

a {
    color: $orange;
    text-decoration: none;
  transition: .4s all;
  &:hover {
    color: #e5e5e5;
    transition: .4s all;
  }
}

h2 {
  font-weight:700;
  padding-bottom:3px;
  margin-bottom:25px;
  border-bottom: 3px solid $orange;
}
h4 {
    font-weight: 700;
    font-size: 1.3rem;
  margin:0;
}
.container {
  max-width: 1140px;
  margin:auto;
}

.centered-button-wrapper {
  width:100%;
  text-align:center;
  padding:40px 0 0 0;
}

.button {
  text-decoration:none;
  color:#e5e5e5;
  display:inline-block;
  padding:8px 10px;
  border: 1px solid #e5e5e5;
  transition: .4s all;
  &:hover {
    color: $dark;
    background-color: $orange;
    border-color: $dark;
    transition: .4s all;
  }
  &.big {
    background: $orange;
    font-size:1.3rem;
    font-weight:700;
    padding: 12px 20px;
    &:hover {
      background: $dark;
      color: #e5e5e5;
    }
    &.dark {
      background: $dark;
      &:hover {
      background: $orange;
      color: #e5e5e5;
      border-color:#e5e5e5;
    }
    }
  }
}

.opacity-change {
  opacity:1;
}

.header {
  position:fixed;
  left:0;
  right:0;
  z-index:5000;
  background:$light-grey;
  nav {
    margin-top: 95px;
    background: $dark;
    border-bottom: 3px solid $orange;
    transition: .4s all;
     &.raise {
        margin-top:50px;
        transition: .4s all;
        @media(max-width:870px) {
      margin-top: 0;
    }
      }
    ul {
      list-style:none;
      padding:0;
      display:flex;
      justify-content:space-around;
      align-items:center;
      position: relative;
      margin:0;
      max-width:1200px;
      margin:auto;
      li {
        width: 14.29%;
    text-align: center;
        transition:.4s all;
        a {
          font-size:1.3rem;
          padding:15px;
          display:block;
              color: #e5e5e5;
    text-decoration: none;
          cursor:pointer;
          transition:.1s all;
        }
        &.blank-item {
          &.bigger {
            width:20%;
            transition:.4s all;
          }
        }
      }
    }
    .logo {
      width:250px;
      position: absolute;
      transition: .4s all;
      &.shrink {
        width:170px;
        transition: .4s all;
      }
    }
    .nav-item {
      &.linked {
        a {
          &.active {
            color:$orange;
            transition:.1s all;
          }
        }
      }
    }
      .desktop-menu {
    @media(max-width:870px) {
      display:none;
    }
  }
  .mobile-menu {
    position:relative;
    ul {
      background: $dark;
      border-top: 3px solid $orange;
      display:none;
      padding: 5px 0;
      li {
    width: 33%;
    padding: 5px;
    &:last-child {
      border: none;
      }
      a {
        border: 1px solid #e5e5e5;
        @media(max-width:420px) {
            font-size: 1rem;
    padding: 7px;
  }
      }
    }
    &.open {
      display: flex;
    flex-wrap: wrap;
    }
    }
    @media(min-width:870px) {
      display:none;
    }
    .logo {
      position: static;
    margin: auto;
        width: 120px !important;
    padding: 10px;
    }
  }
  @media(max-width:870px) {
      background:none;
      margin-top: 0;
    }
  }
}

.hero {
  background-size:cover;
  position: relative;
  overflow: hidden;
  width:100%;
  height: calc(100vh - 153px);
   display: flex;
    align-items: center;
    justify-content: center;
    @media(max-width:870px) { 
      height:350px;
    }
  h1 {
    color: $orange;
    margin:0;
    font-size:4rem;
    font-weight:700;
    text-align:center;
    z-index:4000;
    @media(max-width:630px) {
      font-size:2.9rem;
    }
    span {
          display: block;
    font-size: 2.4rem;
    color: #e5e5e5;
      margin-bottom:5px;
      @media(max-width:630px) {
      font-size:2rem;
    }
    }
  }
  video {
  object-fit: cover; // Set the magic
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
}

  .video-cover {
    background-color: lighten($dark, 5%);
    mix-blend-mode: multiply;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3000;
  }

.testimonials {
  font-size:1.3rem;
  .testimonial {
    color:#e5e5e5;
    text-align:center;
    padding:30px;
  }
  img {
    color: $orange;
    height: 10rem;
  }
  h3 {
    color:#e5e5e5;
        margin-top: 20px;
    font-weight: 800;
    font-size: 1.4rem;
  }
}

.content-box {
      padding: 60px;
      @media(max-width:767px) {
        padding: 60px 30px;
      }
  p {
    margin:0;
  }
  h3 {
        color: $orange;
    font-weight: 700;
    font-size: 1.6rem;
  }
}
.white-background {
  background-color: #e5e5e5;
}

.dark-bg {
      background-color: #424b52;
}

.transparent-dark-bg {
  background-color: rgba($dark, .9);
  color: #e5e5e5;
}

.background-image {
  background-position:center;
  background-size:cover;
        width: 100%;
    height: 100%;
}

.about {
  .background-image {
    @media(max-width:767px) {
      height:250px;
    }
  }
}

.calendar {
  .calendar-group {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px dotted #e5e5e5;
    &:last-child {
      border-bottom:none;
      padding-bottom:0;
      margin-bottom:0;
    }
    .calendar-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    @media(max-width:630px) {
      align-items: flex-start;
      flex-direction:column;
    }
    .button {
      @media(max-width:630px) {
        align-self:flex-end;
        margin-top: -40px;
      }
    }
    h4 {
      @media(max-width:630px) {
        margin-bottom: 8px;
      }
    }
    }
  }
}

.bios {
  .bio-gallery {
    display:flex;
    justify-content:center;
    align-items:center;
    .gallery-image-wrapper {
      width:20%;
      .gallery-image {
        width:100%;
        padding-bottom:90%;
        background-size:cover;
        background-position:center;
      }
    }
  }
}

.video {
iframe {
      min-height: 350px;
}
}

.merch {
  .merch-image {
    img {
      width: 100%;
    }
  }
}

.contact {
  position: relative;
  background:none;
  h2 {
    color: #e5e5e5;
    border-color: #e5e5e5;
        position: relative;
    z-index: 4000;
  }
  .video-cover {
    background-color: #060607c2;
  }
}

/* Form Overrides */

form {
    max-width: 700px;
    margin: auto;
    background: rgba($orange, .8);
    padding: 40px;
  margin-top:60px;
      position: relative;
    z-index: 4000;
}

form header {
    display: none;
}

form ul {
    list-style: none;
    padding: 0;
  margin:0;
}

form input {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: none;
}

form textarea {
    width: 100%;
      border: none;
}

input#saveForm {
    margin: 0;
    margin-top: 20px;
    background: none;
    border: 3px solid #e5e5e5;
    display: inline-block;
    width: auto;
    color: #e5e5e5;
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    padding: 6px 20px;
}

/* Fade In Up Animation */

@media(min-width:767px) {

.animated {
  opacity:0;
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 30%, 0);
    transform: translate3d(0, 30%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 30%, 0);
    transform: translate3d(0, 30%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.animate__fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
  -webkit-transform: translateZ(0);
}

.fade-in-up-element {
  animation: fadeInUp 1.4s;
  animation-fill-mode: forwards;
  -webkit-transform: translateZ(0);
}

.delay {
    animation-delay:.8s;
  &.pos-2 {
    animation-delay:.4s;
  }
  &.pos-3 {
    animation-delay:.8s;
  }
  &.pos-4 {
    animation-delay:1.2s;
  }
  &.pos-5 {
    animation-delay:1.6s;
  }
  &.pos-6 {
    animation-delay:2s;
  }
  }
}

/*   Hamburger Icon */

$menu-icon-width: 3em;
$menu-icon-height: $menu-icon-width * 0.75;
$menu-icon-color: $dark;
$menu-icon-color--active: $dark;

.menu-button {
  display: inline-block;
    position: absolute;
    right: 10px;
    top: 10px;
}

.menu-icon {
  position: relative;
    width: $menu-icon-width;
  height: $menu-icon-height;
  display: inline-block;
}

.menu-icon span {
    position: absolute;
    height: $menu-icon-width / 16;
    width: 100%;
    background-color: $menu-icon-color;
    transition: all 250ms ease-in-out;
    transform: rotate(0deg);
  box-shadow: 0px 1px 1px rgba(255,255,255,0.6);
}

.menu-icon span:nth-child(1) {
    top: $menu-icon-width / 32;
}
  
.menu-icon span:nth-child(2),
.menu-icon span:nth-child(3) {
    top: $menu-icon-width / 3.2;
}

.menu-icon span:nth-child(4) {
    top: $menu-icon-width * 0.625;
}

.menu-button:hover span,
.menu-button:focus span,
.menu-button:active span {
    background: $menu-icon-color--active;
}

.menu-icon.is-active span:nth-child(1),
.menu-icon.is-active span:nth-child(4) {
    opacity: 0; 
}

.menu-icon.is-active span:nth-child(2) {
    transform: rotate(45deg);
}

.menu-icon.is-active span:nth-child(3) {
  top: $menu-icon-width / 3.2;
  transform: rotate(-45deg);
}


.form {
  max-width: 700px;
    margin: auto;
    background: rgba($orange, .8);
    padding: 40px;
  margin-top:60px;
      position: relative;
    z-index: 4000;
    header {
    display: none !important;
}

.redesigned-theme-2018 .wufoo li {
    padding: 0 !important;
}

form ul {
    list-style: none !important;
}

.req {
    display: none !important;
}


.redesigned-theme-2018 .wufoo li {
    margin-bottom: 20px !important;
}
button#wpforms-submit-52 {
    background-color: #373e44;
}
}

.wpforms-container .wpforms-form .wpforms-field-label {
  color: #373e44;
}

.site-footer {
    background: #373e44;
    z-index: 5000;
    position: relative;
    margin-top: 110px;
    border-top: 3px solid #e7a800;
    p {
      color: #e5e5e5;
    text-align: center;
    margin-top: 14px;
    margin-bottom: -12px;
    font-size: 1.2rem;
    font-weight: 100;
    }
}


.social-links {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 30px;
    right: 30px;
    svg {
      height: 40px;
    }
    a {
    margin-left: 20px;
}
}

.footer-logo a {
    display: block;
    width: 100px;
    margin: auto;
}

.footer-logo {
    padding: 30px;
}


